@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --color-text:#0c0c0c;
    --font-family: "Inter", serif;
}
body, html{
    background-color: #131313;
    font-family: var(--font-family);
}
.contentPage{
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 4rem 1rem 1rem 1rem;
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.logo{
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}
.logo img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text{
    text-align: center;
    color: #fff;
    margin: 1rem 0 2rem 0;
}
.nameUser{
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 500;
}
.destaqEdit{
    color: rgb(225, 65, 65);
}
.textUser{
    font-size: 1.1rem;
    padding: 2rem 0;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    font-weight: 300;
    /* display: none; */
    color: #cccccc7c;
}

.links{
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding: 1rem; */
    gap: 1rem;
}

.bloco{
    width: 100%;
    max-width: 1100px;
    position: relative;
    transition: .2s linear;
}
.bloco:hover{
    transform: scale(.99);
}
.bloco a img{
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 80px #00000055;
    border-radius: 20px;
}
.shadow{
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #ffffff00, #00000076);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 18px 18px 0 0;
}

.endPage{
    position: relative;
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
    color: #ffffff61;
    z-index: 1;
}
.endPage a{
    text-decoration: none;
    color: royalblue;
}

@media screen and (max-width:600px) {
    .links{
        gap: .5rem;
    }
    .bloco{
        width: 100%;
        height: 300px;
    }
    .bloco a img{
        height: 100%;
        border-radius: 10px;
    }
    /* .logo{
        max-width: 100px;
    } */
    .nameUser{
        font-size: 1.1rem;
    }
    .textUser{
        font-size: .85rem;
    }
}

.bgPage{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    opacity: .05;
}
.bgPage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}