/* Importação da fonte */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root {
    --font-family: "Inter", serif;
    --primary-bg-color: #131313;
    --text-color-light: #cccccc7c;
    --text-color-dark: #ffffff61;
    --highlight-color: rgb(225, 65, 65);
    --link-color: royalblue;
}
body, html {
    background-color: var(--primary-bg-color);
    font-family: var(--font-family);
}
.contentPage {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 4rem 1rem 1rem;
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: zoomPage .5s linear;
}
.logo {
    width: 100%;
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}
.logo img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text {
    text-align: center;
    color: #fff;
    margin: 1rem 0 2rem;
}
.nameUser {
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 500;
}
.destaqEdit {
    color: var(--highlight-color);
}
.textUser {
    font-size: 1.1rem;
    padding: 2rem 0;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    font-weight: 300;
    color: var(--text-color-light);
}
.links {
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.bloco {
    width: 100%;
    max-width: 1100px;
    position: relative;
    transition: .2s linear;
}
.bloco:hover {
    transform: scale(.99);
}
.bloco a img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 80px #ffffff08;
    border-radius: 20px;
}
.shadow {
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, #ffffff00, #00000076);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 18px 18px 0 0;
}
.endPage {
    position: relative;
    width: 100%;
    padding: 2rem 1rem;
    text-align: center;
    color: var(--text-color-dark);
    z-index: 1;
}
.endPage a {
    text-decoration: none;
    color: var(--link-color);
}
@media screen and (max-width: 600px) {
    .links {
        gap: 1rem;
    }
    .bloco {
        height: 300px;
    }
    .bloco a img {
        height: 100%;
        border-radius: 10px;
    }
    .nameUser {
        font-size: 1.1rem;
    }
    .textUser {
        font-size: .85rem;
    }
}
.bgPage {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
    opacity: .05;
}
.bgPage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes zoomPage {
    0% {
        margin-top: 10%;
        opacity: 0;
    }
    100% {
        margin-top: unset;
        opacity: 1;
    }
}
